html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  .placeholder ({
    color: black;
  })
}

fieldset {
  margin: 0;
}

.visually-hidden {
  display: none;
}
