html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  .placeholder ({
    color: black;
  })
}

fieldset {
  margin: 0;
}

textarea {
  resize: vertical;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 320px) {
  .page-wrapper {
    margin: 0 auto;
    width: 320px;
  }
}

@media (min-width: @tablet-width) {
  .page-wrapper {
    margin: 0 auto;
    width: @tablet-width;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2),
      -5px 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: @desktop-width) {
  .page-wrapper {
    margin: 0 auto;
    width: @desktop-width;
    box-shadow:  5px 0 15px rgba(0, 0, 0, 0.2),
      -5px 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}
