.advantages__item {

}

.advantages__item--main {
  color: @text-color;
}

.advantages__wrapper {
  .background();
  padding: 40px 20px;
}

.advantages__title {
  .title();
  text-align: center;
}

.advantages__number,
.advantages__description {
  text-align: center;
}

.advantages__features {
  padding: 25px 20px 40px 20px;
  background-color: #ffffff;
  color: #000000;
}

.features__title {
  .title();
}

.advantages__item--other {
  background-color: #eeeeee;
  padding: 30px;
  border-top: 1px solid #d6d6d6;
}
