.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: @base-width;
  text-transform: uppercase;
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 224px;
  align-self: center;
}

.page-header__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 392px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__sedona {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 160px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 95%;
  background-repeat: no-repeat;
}

.page-header__image {
  margin-top: 52px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__logo {
    top: 0;
  }

  .page-header__welcome {
    width: 100%;
    height: 521px;
    background-color: #e2eff7;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1338px auto;
   }
  }

  .page-header__welcome-text {
    width: 466px;
    height: 353px;
  }

  .page-header__sedona {
    width: 100%;
  }

  .page-header__image {
    width: 462px;
    height: 178px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__welcome {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1338px auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__logo {
    top: 0;
  }

  .page-header__welcome {
    width: @desktop-width;
    height: 521px;
    background-color: #e2eff7;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 2400px auto;
   }
  }

  .page-header__welcome-text {
    width: 592px;
    height: 431px;
  }

  .page-header__sedona {
    width: @desktop-width;
    height: 290px;
    background-color: #e2eff7;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-header__image {
    width: 462px;
    height: 178px;
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi),
       (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__welcome {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2400px auto;
  }
}
