.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: @base-width;
  text-transform: uppercase;
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 224px;
  align-self: center;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__logo {
    top: 0;
  }

  .page-header__logo-image {
    width: 187px;
  }
}
