.page-main {
  width: @base-width;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 16px;
}

.page-main__wrapper {
  padding: 20px;
}

.page-main__description {
  line-height: 1.444;
}

.page-main__description--form {
  font-size: 14px;
  text-align: center;
}

.page-main__title {
  .title();
  text-align: center;
}

.page-main__description {
  font-weight: normal;
  text-align: center;
}
