.photo-posts__post {
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}

.photo-posts__post:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.photo-posts__title {
  font-size: 14px;
}

.photo-posts__author {
  text-transform: none;
}
