.review__form {
  text-transform: uppercase;
}

.review__wrapper {
  border-top: 1px solid #e5e5e5;
}

.review-block {
  display: flex;
  flex-wrap: wrap;
}

.review-block__caption {
  .title();
  padding-top: 20px;
  text-align: center;
}

.review__name,
.review__contacts,
.review__emotions {
  .review-text();
}

.review__impression,
.review__attraction {
  .review-value();
}

.review__impression .review-block__caption {
  padding-bottom: 30px;
}

.review__attraction .review-block__caption {
  padding-bottom: 20px;
}

.review__impression label {
  position: relative;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 65px;
  padding-left: 65px;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
}

.review__impression label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: @input-color;
}

.review__impression label::after {
  content: "";
  display: none;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #333333;
}

.review__impression input[type=radio] {
  display: none;
}

.review__impression input[type=radio]:checked + label::after {
  display: block;
}

.review__name input {
  margin-bottom: 21px;
  .review-input();
  width: 60%;
  height: 59px;
}

.review__name input:first-of-type {
  width: 72%;
}

.review__contacts input {
  .review-input();
  height: 59px;
}

input {
  .placeholder ({
    color: black;
  })
}

.review__contacts label {
  padding-top: 10px;
}

.review__contacts input {
  position: relative;
}

.review-block--contacts input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
}

.review__attraction label {
  position: relative;
  cursor: pointer;
  padding-left: 65px;
  padding-right: 70px;
  padding-bottom: 65px;
  padding-top: 15px;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
}

.review__attraction label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  border-radius: 5px;
  background-color: @input-color;
}

.review__attraction label::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  border-radius: 5px;
  background-color: @input-color;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review__attraction input[type=checkbox] {
  display: none;
}

.review__attraction input[type=checkbox]:checked + label::before {
  display: none;
}

.review__attraction input[type=checkbox]:checked + label::after {
  display: block;
}

.review__emotions textarea {
  .review-input();
  padding-right: 20px;
  width: 280px;
  height: 163px;
}

.review__send {
  margin-top: 50px;
  border-style: none;
  text-transform: uppercase;
  .button();
}

@media (min-width: @tablet-width) {
  .review {
    padding: 0 60px;
  }
  .review__form {
    display: flex;
    flex-wrap: wrap;
  }
  .review__wrapper {
    border-style: none;
  }
  .review__wrapper:nth-child(1) {
    width: 50%;
    border-left: 1px solid #e5e5e5;
  }
  .review__wrapper:nth-child(3) {
    width: 50%;
    order: -1;
  }
  .review-block {
    display: flex;
    flex-direction: column;
  }
  .review-block__caption {
    font-size: 21px;
  }
  .review-block__caption:nth-child(1) {
    text-align: center;
  }
  .review__contacts {
    margin: 0;
    padding: 0;
  }
  .review__contacts input {
    width: 648px;
  }
  .review__attraction {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .review__emotions {
    margin: 0;
    padding: 0;
  }
  .review__emotions textarea {
    width: 648px;
    padding: 60px 0;
  }
  .review__send {
    width: 324px;
  }
  .review__description {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding: 0 120px;
  }
  .review__wrapper legend {
    padding-bottom: 20px;
  }
  .review-block {
    display: flex;
    flex-direction: row;
  }
  .review__impression .review-block__caption,
  .review__name .review-block__caption,
  .review__emotions .review-block__caption{
    padding-bottom: 63px;
  }
  .review__attraction .review-block__caption {
    padding-bottom: 46px;
  }
  .review__attraction {
    width: @desktop-width;
    justify-content: space-around;
  }
  .review-block--name {
    display: flex;
    flex-wrap: wrap;
  }
  .review-block--impression {
    flex-direction: column;
  }
  .review__contacts input {
    width: 320px;
  }
  .review-block--emotions {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .review-block--emotions textarea {
    width: 960px;
  }
  .review__send {
    width: 480px;
  }
}
