.review__form {
  text-transform: uppercase;
}

.review__name {
  border-top: 1px solid #e5e5e5;
}

.review__name input {
  margin-bottom: 21px;
  .review-input();
  width: 60%;
  height: 59px;
}

.review__name input:first-child {
  width: 72%;
}

.review__caption {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.review__name,
.review__contacts,
.review__emotions {
  padding: 20px;
  border-style: none;
}

.review__impression,
.review__attraction {
  padding: 0 20px;
  border-style: none;
}

.review__impression {
  display: flex;
}

.review__impression label {
  position: relative;
  margin-bottom: 65px;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 65px;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
}

.review__impression label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: @input-color;
}

.review__impression label::after {
  content: "";
  display: none;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #333333;
}

.review__impression input[type=radio] {
  display: none;
}

.review__impression input[type=radio]:checked + label::after {
  display: block;
}

.review__contacts span {
  margin-bottom: 15px;
}

.review__contacts input {
  .review-input();
  width: 222px;
  height: 58px;
}

.review__contacts label {
  padding-top: 10px;
  position: relative;
}

.review__contacts label:first-of-type::after {
  content: "";
  position: absolute;
  top: 29px;
  left: 222px;
  z-index: 1;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review__contacts label:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 29px;
  left: 222px;
  z-index: 1;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review__attraction label {
  position: relative;
  cursor: pointer;
  padding-left: 65px;
  padding-right: 70px;
  padding-bottom: 65px;
  padding-top: 15px;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
}

.review__attraction label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  border-radius: 5px;
  background-color: @input-color;
}

.review__attraction label::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  border-radius: 5px;
  background-color: @input-color;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review__attraction input[type=checkbox] {
  display: none;
}

.review__attraction input[type=checkbox]:checked + label::before {
  display: none;
}

.review__attraction input[type=checkbox]:checked + label::after {
  display: block;
}

.review__emotions textarea {
  .review-input();
  padding-right: 20px;
  width: 280px;
  height: 163px;
}

.review__send {
  margin-top: 50px;
  border-style: none;
  text-transform: uppercase;
  .button();
}

@media (min-width: @tablet-width) {
  .review {
    padding: 0 60px;
  }
  .review__form {
    display: flex;
    flex-wrap: wrap;
  }
  .review__name {
    display: flex;
    padding: 0;
    width: 323px;
  }
  .review__name input {
    width: 180px;
  }
  .review__impression {
    width: 324px;
    order: -1;
    border-right: 1px solid #e5e5e5;
  }
  .review__caption {
    width: 323px;
    font-size: 21px;
    text-align: center;
  }
  .review__contacts {
    margin: 0;
    padding: 0;
  }
  .review__contacts input {
    width: 648px;
  }
  .review__contacts label:first-of-type::after,
  .review__contacts label:nth-of-type(2)::after {
    left: 598px;
  }
  .review__impression {
    padding: 0;
  }
  .review__attraction {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .review__emotions {
    margin: 0;
    padding: 0;
  }
  .review__emotions textarea {
    width: 648px;
    padding: 60px 0;
  }
  .review__send {
    width: 324px;
  }
  .review__description {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding: 0 120px;
  }
  .review__name,
  .review__impression {
    width: 480px;
  }
  .review__impression .review__caption,
  .review__name .review__caption,
  .review__emotions .review__caption {
    padding-bottom: 63px;
  }
  .review__attraction .review__caption {
    padding-bottom: 46px;
  }
  .review__attraction {
    display: flex;
    width: @desktop-width;
  }
  .review__attraction label {
    margin-right: 0;
    width: 300px;
  }
  .review__impression {
    flex-direction: column;
  }
  .review__contacts input {
    width: 320px;
  }
  .review__contacts span {
  }
  .review__contacts label:first-of-type::after,
  .review__contacts label:nth-of-type(2)::after {
    top: -10px;
    left: 428px;
  }
  .review__emotions {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .review__emotions textarea {
    width: 960px;
  }
  .review__send {
    width: 480px;
  }
}
